$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
@import url('https://fonts.googleapis.com/css?family=Lobster');

body {
  // background-image: url('');
  background-repeat: no-repeat;
  background-position: 0 75px;
  background-size: 100%;
}

footer {
  background-color: #4e4e4e;
  bottom: 0;
  color: white;
  height: 20px;
  left: 0;
  margin-top: 10px;
  opacity: 0.9;
  padding-top: 1px;
  position: fixed;
  text-align: center;
  width: 100%;
}

img {
  -webkit-transition: -webkit-transform .8s ease-in-out;
          transition:         transform .8s ease-in-out;
}

img:hover {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

h3 {
  color: #dfdfdf;
}

.col-md-6 {
background-color: #4e4e4e;
}

.col-md-3 {
background-color: #4e4e4e;
}
.col-md-1 {
background-color: #4e4e4e;
}

#create-button-box {
background-color: #4e4e4e;
}

.navbar {
  opacity: 0.9;
  background-color: #ccb3ff;
}

.view2 {
  display: none;
}

.modal-open {
  overflow: scroll;
}

.menu {
  background-color: grey;
  border: 1px solid white;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: 10px;
}

.content-button {
  background-color: #ccb3ff;
  border: 1px solid white;
  color: white;
  float: right;
  margin-left: 5px;
  margin-top: 15px;
}

.updateButton {
background-color: #ccb3ff;
}

.deleteButton {
  background-color: #ccb3ff;
  color: red;
}

.confettiButton {
  background-color: #ccb3ff;
}
.settings1 {
  background-color: #4e4e4e;
  border: 5px solid grey;
  margin-bottom: 30px;
  margin-left: 5%;
  width: 90%;
}

.settings2 {
  background-color: #4e4e4e;
}

.settings3 {
  background-color: #ccb3ff;
}

#menu-title {
  display: inline;
  color: #000;
  font-family: 'Lobster', cursive;
  font-size: 50px;
}

#sub-menu-title {
  display: inline;
  color: #ffffff;
  font-family: 'Lobster', cursive;
  font-size: 25px;
}

.handlebars {
  display: inline-block;
}
